APS_CLIENT_ID=your_client_id
APS_CLIENT_SECRET=your_client_secret
APS_SA_ID=your_service_account_id
APS_SA_EMAIL=your_service_account_email
APS_SA_KEY_ID=your_service_account_key_id
APS_SA_PRIVATE_KEY=your_service_account_private_key